<!-- Header -->
<md-toolbar style="background-color: rgb(33, 37, 41);    color: rgb(153, 153, 153);" md-scroll-shrink>
    <div class="md-toolbar-tools"><md-icon class="clickable" ng_bind="'view_headline'" hide-gt-md ng-click="toggleLeft()"></md-icon> <div style="width: calc( 100% - 120px );">RDTF</div><a href="#campAdmin">Admin Login</a></div>
</md-toolbar>
<!-- Header -->
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left" style="width:210px;" md-component-id="district" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools" style="background-color: rgb(33, 37, 41);    color: rgb(153, 153, 153);">Select District</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl" style="height: calc( 100% - 75px );">
            <md-button style="display:block;width: 100%;margin:0px;line-height:20px" ng-click="openCampDetails(district);" ng-repeat="district in districtList">{{district}}</md-button>
        </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-left" style="width:210px;" md-component-id="camp" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools clickable" style="background-color: rgb(33, 37, 41);    color: rgb(153, 153, 153);" ng-click="closeCampDetails();"><<  {{selectedDistrict}}</h1>
            <h1 class="md-toolbar-tools" style="background-color: rgb(33, 37, 41);    color: rgb(153, 153, 153);"><span ng-show="selectedCamp">{{selectedCamp}}</span><span ng-hide="selectedCamp">Select Camp</span></h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl" style="    height: calc( 100% - 134px );">
            <md-button style="display:block;width: 100%;margin:0px;line-height:20px" ng-click="showCampDetails(camp)" ng-repeat="camp in campList">{{camp}}</md-button>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <state-details ng-if="pageFlag == 'stateDetails'"></state-details>
        <district-details ng-if="pageFlag == 'districtDetails'"></district-details>
        <camp-details ng-if="pageFlag == 'campDetails'" input="input"></camp-details>
    </md-content>
</section>
