<div class="row" style="    background: #424242;color: ghostwhite;">
    <div class="col l12 m12 s12">
        <h4>{{$ctrl.input.selectedCamp}}</h4>
        <h6>Kuttur LP School, Kuttur, Thrissur - 680013</h6>
    </div>
    <div class="col l4 m4 s6">
        <div class="md-list-item-text">
          <h6>Head Count</h6>
          <h5>1530</h5>
        </div>
    </div>
    <div class="col l8 m8 s6">
        <h6 class="col l6 m6 s12">
            Ladies : <span style="font-size: 1.5rem;">600</span>
        </h6>
        <h6 class="col l6 m6 s12">
            Gents : <span style="font-size: 1.5rem;">700</span>
        </h6>
        <h6 class="col l12 m12 s12">
            Kids : <span style="font-size: 1.5rem;">230</span>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col l4 m6 s12" style="padding:5px;" ng-repeat = "requirement in $ctrl.requirementList">
        <requirement-tile requirement="requirement" index = "$index">
        </requirement-tile>
    </div>
</div>
